

body {
  font-family: 'Raleway', sans-serif;
  background-color: beige;
  margin: 0;
  padding: 0;
}

.nav, .inicio, .figure {
  text-align: center;
}

.nav {
  background-color:aquamarine;
  padding: 15px;
  border: 1px solid #d2d1d1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(186, 187, 187, 0.494); 
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav .ul{
  list-style-type: none;
   padding: 0;
    margin: 0; 

}
.nav .a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

nav a:hover{
  background-color: gray;
  color:blue;
}

 .nav .nav-li .a {
  display: inline;
  margin-right: 20px; 
  font-size: large;
}

.img {
  width: 600px;
  height: 600 px;
}




